$color-blue: blue;
$color-red: red;
$color-white: white;
$color-yellow: yellow;

.message {
    composes: baseComponent from "./base.css";
    background: linear-gradient($color-red, $color-yellow);
    color: $color-blue;
}

.specialMessage {
    composes: message;
    color: $color-white
}
